{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}  

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% trans "Taskly" %}</title> 
    <style>
       
        .profile-pic {
            width: 200px; 
            height: 200px;
            border-radius: 50%; 
            overflow: hidden; 
            margin: 0 auto; 
        }

        .profile-pic img {
            width: 100%; 
            height: 100%;
            object-fit: cover; 
        }
    </style>
</head>

<body>
    {% include 'profile/base.html' %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        
        <h3>{% trans "Profile" %}</h3> 

        <div class="profile-pic">
            <img src="{{ profile.profile_pic.url }}" alt="{% trans "Profile Picture" %}">
        </div>

        <p>{% trans "Name" %}: {{ profile.user.username }}</p>
        <p>{% trans "Email" %}: {{ profile.user.email }}</p>
        <p>{% trans "Phone" %}: {{ profile.phone_number }}</p>

        <br>

        <a href="{% url 'profile-management' %}">{% trans "Edit profile" %}</a>

        <br>

        <a href="{% url 'user-logout' %}">{% trans "Logout" %}</a> 

    </div>

    <br>
</body>

</html>
