{% load static %}
{% load crispy_forms_tags %}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title> Taskly </title>
</head>

{% include 'profile/base.html' %}
<br>

<body>
    <div class="container">
        <h3 class="text-center"> View tasks </h3>
        <hr style="width: 10px; color: black;">
        <div class="text-center">
            <form method="GET" class="mb-3 d-flex justify-content-center align-items-center">
                <label for="status" class="me-2">Filter by Status:</label>
                <select class="btn btn-outline btn-sm me-2" name="status" id="status">
                    <option value="">All</option>
                    <option value="option1" {% if status_filter == "option1" %} selected {% endif %}>Assigned</option>
                    <option value="option2" {% if status_filter == "option2" %} selected {% endif %}>In progress</option>
                    <option value="option3" {% if status_filter == "option3" %} selected {% endif %}>Done</option>
                </select>
                
                <label for="date_due_to" class="me-2">Filter by Due Date:</label>
                <input class="btn btn-outline  btn-sm me-2" type="date" name="date_due_to" id="date_due_to" value="{{ date_due_to }}">
                
                <button class="btn btn-outline-primary  btn-sm me-2" type="submit">Filter</button>

                <a href="{% url 'view-tasks' %}" class="btn btn-outline-secondary  btn-sm">Reset Filters</a>
            </form>
        </div>

        <br> 

        {% if tasks %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Additional Information</th>
                    <th>Date Added</th>
                    <th>Status</th>
                    <th>Due To</th>
                    <th>Date End</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tsk in tasks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'view-task' tsk.id %}">{{ tsk.title }}</a></td>
                    <td>{{ tsk.content|truncatechars:50}}</td>
                    <td>{{ tsk.date_posted|date:"F j, Y" }}</td>
                    <td>{{ tsk.get_status_display }}</td>
                    <td>{{ tsk.do_to|date:"F j, Y" }}</td>
                    <td>{% if tsk.status == 'option3' %}{{ tsk.date_end|date:"F j, Y" }}{% endif %}</td>
                    <td>
                        <div class="d-inline-block">
                            <a class="btn btn-outline-primary navbar-btn btn-sm" href="{% url 'update-task' tsk.id %}">Update Task</a>
                            <a class="btn btn-outline-danger navbar-btn btn-sm" href="{% url 'delete-task' tsk.id %}">Delete Task</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center">
            <p>No tasks found.</p>
        </div>
        {% endif %}

        <br>
        
        <div class="text-center">
            <a class="btn btn-primary navbar-btn btn-sm" href="{% url 'create-task' %}">Create Task</a>
        </div>
    </div>
</body>
</html>
