{% load static %}

{% load crispy_forms_tags %}

<html>

    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title> Taskly </title>

        <style>
            div {
              margin-top: 10px; 
              margin-bottom: 10px; 
          }
        
          </style>

    </head>

    {% include 'uplinenav.html' %}

    <br>
    
    <div class="container bg-white shadow-md p-5 form-layout">
            
        <h3> This is our login page! </h3>

        <hr>

        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{ form.username|as_crispy_field }}

            
            

            {{ form.password|as_crispy_field }}

            
            

            <div style="text-align:center">

            <input class="btn btn-outline-primary" type="submit" value="Login"/>

            </div>
            <br> 

           

            {% for message in messages %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    
                    <p id="message-timer" class="alert alert-success float-center text-center message-text"> 
                        <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}} 
                    </p>
                
                {% endif %}

            {% endfor %}
            
            <br> 

        

            <p> Don't have an account? <a href="{% url 'register' %}">  Register </a> </p>

          
            <p> Forget password?  <a href="{% url 'password_reset' %}">Reset Password</a></p>
           

                
        </form>
    </div>

    <br>

</html>

<script>
    $(document).ready(function(){
        var activeButton = sessionStorage.getItem('activeButton');
    
        if(activeButton && activeButton !== '{% url "password_reset" %}' && activeButton !== '{% url "register" %}' ) {
          $("a[href='" + activeButton + "']").addClass("active");
        }
    
    
        $(".navbar-btn").click(function(){
            $(".navbar-btn").removeClass("active");
            $(this).addClass("active");
            sessionStorage.setItem('activeButton', $(this).attr('href'));
        });
    });
    </script>
